PORT=3001
MONGODB_URI=mongodb://127.0.0.1:27017/ecommerce_user_db
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
RABBITMQ_URI=amqp://localhost:5672
JWT_ACCESS_SECRET=your_super_secret_jwt_access_key_123!
JWT_REFRESH_SECRET=your_super_secret_jwt_refresh_key_456!
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d
NODE_ENV=development
